.app {
  font-family: "Chakra Petch", sans-serif;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  background-color: salmon;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 1 1 0px black;
  color:rgb(231, 249, 255);
}