.app {
  font-family: "Chakra Petch", sans-serif;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  background-color: #d1e8e4;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 1 1 0px black;
  color: #212121;

}

